{% extends 'main/base.html' %}

{%block title%}Определитель матрицы{% endblock %}
{%block content%}

<form method="POST" >
    {% csrf_token %}
    <h1>Найти определитель матрицы:</h1><br>
   <label for="name">Введите размер матрицы N*N; N<9: <br> </label>
    <label id="id">{{n}} </label>
   <input id="name" onclick="text();"  min="1" max="8" value="{{n}}" type="range" name="tex" >

    <button type="sumbit" >Создать</button>

</form>
 <br> <br>
 <form method="POST" >
     {% csrf_token %}
     <div style="text-align: center;">
    <table style="display: inline-block;">
        {% for r in rows %}
        {% with k=forloop.counter%}
            <tr>
                {% for g in rows %}
                <td ><input type="text" onkeypress='validate(event)' name="{{k}}{{','}}{{forloop.counter}}" size="1" value="0"></td>


                {% endfor %}
            </tr>
        {% endwith %}
        {% endfor %}

    </table>
    </div>

 <br> <br>
    <input type="submit" name="calc" value="Рассчитать"  /> <br> <br>
    <label>Результат:{{det}}</label>
    </form>
{% endblock %}

