{% extends 'main/base.html' %}

{%block title%}Задачи{% endblock %}
{%block content%}
<h2>Задачи</h2>
<div style="text-align: center; margin-top: 5%;"><table cellspacing="4" style="display: inline-block;">
    <tr><td>1.</td><td align="left">Найти все комбинации розыгрыша 120 героев игры Дота 2 в команде из 5 человек, при учете что они выбирают первыми и без запрета героев</td></tr>
    <tr><td>2.</td><td align="left">Дано поле 3*3, Игра Крестики-Нолики. Сколько всего комбинаций возможно расстановок крестиков и ноликов при учете что поле будет полностью заполнено</td></tr>
    <tr><td>3.</td><td align="left">Сколько всего комбинаций расстановок 6 цветов возможно в кубике-рубике 3*3</td></tr>
    <tr><td>4.</td><td align="left">Создать формулу по которой можно определять количество Х - цифры в разрядах чисел, например сколько "9" в диапазоне 1 до 1000</td></tr>
    </table></div>
{% endblock %}