{% extends 'main/base.html' %}

{%block title%}Задачи{% endblock %}
{%block content%}
<h2>Задачи</h2>
<div style="text-align: center;margin-top: 5%;"><table cellspacing="4" style="display: inline-block;">
    <tr><td>1.</td><td align="left">Определить может ли совершенное число быть простым</td></tr>
    <tr><td>2.</td><td align="left">Какое из чисел больше: e<sup>pi</sup>, либо pi<sup>e</sup> </td></tr>
    <tr><td>3.</td><td align="left">Проблема числа 10958. <a href="https://www.youtube.com/watch?v=o9x1MDn_90M">https://www.youtube.com/watch?v=o9x1MDn_90M</a></td></tr>
    <tr><td>4.</td><td align="left">Найти число или числа от 10^4 до 10^5 с наибольшим количеством в них множителей относительно всех других</td></tr>
    </table></div>
{% endblock %}