{% extends 'main/base.html' %}

{%block title%}Задачи{% endblock %}
{%block content%}
<h2>Задачи</h2>
<div style="text-align: center;margin-top: 5%;"><table cellspacing="4" style="display: inline-block;">
    <tr><td>1.</td><td align="left">Создать программно магический квадрат.</td></tr>
    <tr><td></td><td align="left">Магический квадрат - это матрица N*N заполненная различными числами таким образом,</td></tr>
    <tr><td></td><td align="left">что сумма чисел в каждой строке, каждом столбце и на обеих диагоналях одинакова.</td></tr>
    <tr><td>2.</td><td align="left">Найти максимальный определитель из матриц 3*3,в первом случае среди повторяющихся чисел [1-9], а затем среди неповторяющихся [1-9]</td></tr>
    <tr><td>3.</td><td align="left">Создать программу которая определяет что данная матрица N*N ассимитричная </td></tr>
    </table></div>
{% endblock %}